*{
    font-family: cursive;
    font-weight: 100;
    font-size: 1rem
}

body {
    background-image: url(https://i.pinimg.com/236x/e1/dd/1d/e1dd1dd6ca32500020dd9ab0bd1d451c.jpg);
    backdrop-filter: blur(2px);
    color: white;
    background-size: cover;
    font-style: oblique;
    width: 100%;
    height: 100%;
    display: inline;
}

.grid-container {
    font: 150% sans-serif;
    margin: 10px;
    padding: 10px;
    display: grid;
    height: 97vh;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer";
}

.grid-header {
    position: relative;
    display: flex;
    background: linear-gradient(90deg,#5079ff,#00deff);
    padding: 10px;
}

.grid-main {
    margin: 10px;
    padding: 10px;
}

.grid-aside {
    padding: 10px;
    margin: 20px;
}
.grid-footer {
    grid-area: footer;
    display: inline-block;
    background: linear-gradient(to bottom, grey transparent);
}

ul li {
    display: inline-block;
    padding: 30px;
    text-align: center;
    text-align: right;
}

a {
font-size: 20px;
}

ol li {
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to bottom, transparent, #222)
}

ol li:hover {
    cursor: pointer;

}

.redes li a {
        box-shadow: 0 3px 5px 0px rgb(8 58 66 / 20%);
        font-size: 19px;
        line-height: 25px;
        display: inline-block;
        color: #0a0a0a;
        height: 100%;
        width: 100%;
        text-align: center;
        background: rgb(0 0 0 / 11%);
        opacity: 1.7;
        margin: 0px;
        transition: 0.2s;
        border-radius: 50%;
        padding: 10px;
        position: relative;
        left: 246px;
}



.redes < footer{
    display: none;
    height: 100vh;
    align-items: flex-start;
    justify-content: :end;
}

.redes li a:hover {
    transform: translate(3px) scale(1.05);
}

.flex-container {
    font: ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    opacity: .8;
    padding: 50px;
    margin: 10px;
    margin-top: 100px;
    position: relative;
}

.form__input {
    width: 400px;
    margin: 21px 10px;
    padding: 20px;
    border: none;
    border-bottom: 3px solid rgb(167, 156, 194);
    background: transparent;
    color: #fff;
    
}

.form__input:focus {
    background: linear-gradient(to bottom, transparent, rgb(53, 48, 82));
    outline: none;
    border-bottom: 3px solid rgb(79, 68, 117);
}

.form__textarea {
    min-height: 200px;
}

textarea {
    min-height: 100px;
    min-width: 100px;
    resize: none;
}

img {
    background-attachment: scroll;
    padding: 0px;
    width: 300px;
    height: 300px;
    padding: 10px;
}

img:hover {
   transform: scale(2);
   transition: 1s;
   cursor: pointer;
}

.listas {
    background: linear-gradient(90deg,#5079ff,#00deff);
}

.texto-inicio {
    text-align: center;
    background-attachment: fixed;
    opacity: .8;
    color: #fff;
}

.form__section {
    color: #fff;
}
